h1 {
	text-align: center;
}

circle.regular {
	fill: black;
}

circle.selected {
	fill: red;
}

circle.grouped {
    stroke: red;
}

circle:hover {
	fill: orange;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}