h1 {
	text-align: center;
}

circle {
	fill: black;
}

circle.selected {
	fill: red;
}

circle.grouped {
    stroke: red;
}

circle:hover {
	fill: orange;
}

.brush .extent {
  fill-opacity: .1;
  stroke: grey;
  shape-rendering: crispEdges;
}

rect.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.distance {
  stroke: red;
  stroke-width: 2;
}